.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1.5px solid #F8F8F8;
    border-collapse: collapse;
    background-color: white;
}

.table th {
    font-weight: bold;
    padding: 5px;
    color: #54D3C2;
    border: 1.5px solid #F8F8F8;
}

.table td {
    border: 1.5px solid #F8F8F8;
    padding: 5px;
}

.tablePagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageButton, .arrowIcon {
    border: none;
    background: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.buttonDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.arrowIcon {
    display: flex;
    align-items: center;
}

.active {
    color: #54D3C2;
}

.pagination {
    display: flex;
    gap: 20px;
}

.pagesButtons {
    display: flex;
    gap: 19px;
}

.paginationInfo{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #6D7986;
}

.selectPagination {
    margin-left: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #323F47;
    background: #FFFFFF;
    border: 1.5px solid #F8F8F8;
    border-radius: 6px;
    padding: 5px 10px;
}