@import-normalize;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

#root {
  display: grid;
  grid-template-areas: 'navbar main';
  grid-template-columns: 1fr 11fr;
  min-height: 100vh;
  background: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
  border-radius: 56px;
}


